[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
openpyxl = "*"
python-dotenv = "*"
mysql-connector-python = "*"
clickhouse-driver = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.10"
